// Styling for the masthead
header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../img/header.jpg');
  background-position: center;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    .header-content-inner {
      h1 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        > img {
          width: 300px;
        }
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;
        color: fade-out(white, .1);
      }
      a {
        &.btn {
          &:last-child {
            margin-top: 10px;
          }
        }
      }
    }
  }
  @media (min-width: 368px) {
    .header-content {
      .header-content-inner {
        a {
          &.btn {
            &:first-of-type {
              margin-right: 10px;
            }
            &:last-child {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 544px) {
    .header-content {
      .header-content-inner {
        h1 {
          font-size: 24px;
          > img {
            width: 500px;
          }
        }
        p {
          font-size: 24px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 50px;
          > img {
            width: 700px;
          }
        }
        p {
          font-size: 30px;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
